$colorPrincipal: #404D95;
$colorSubtitulos:#7ED957;
$colorVerde: #3EC483;
$colorParrafos: #c69b7c;
$colorHuella1:orange;
$colorBotonHN:#724c06;
$colorHuella2:#88D9DE;
$colorBotonHA:#289696;
$colorHuella3: #FF66C4;
$colorBotonHR: #7a185d;
$colorPaquetes:green;