/* PÁGINA GALERÍA */
.galeria{
    background-image: linear-gradient(to top, $colorVerde , #d0f5e3);
    padding:20px 0 20px 0;
 }

.galeria__imagenes{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
    grid-gap: 1em;
    margin: 50px;
    
}

.galeria__imagen img{
    width: 100%;
    border-radius:10px;
}

/* Sección testimonios */

#testimonios{
    margin-top: 20px;
}

.testimonios{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 30px; 
    text-align: center;

    h3{
        color:$colorPrincipal;
        text-align: center;
    }

    p{
        color: $colorParrafos;
        font-weight: bold;
    }

}

.galeria__imagen > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.galeria__imagen:hover > img {
    opacity: 0.4;
    cursor: pointer;
}

.galeria__imagen:hover > div{
    display: block;
    font-family: $letraPrincipal;
    font-size: 40px;
    color: $colorBotonHR;
    text-align: center;
    cursor: pointer;
}

.imgRedonda {
    width:200px;
    height:200px;
    border-radius:150px;
}

.testimonios__cliente1{
    margin: 10px;

}

.testimonios__cliente2{
    margin: 10px;
}

.testimonios__cliente3{
    margin: 10px;
}



