/* Sección de valores */
.valores{
    background-image: url(../img/fondo_valores.jpg);   
}

.valores_general{
    background-color: rgba(255,255,255,.8);

}

.valores__texto{
    text-align: center;
    font-weight: bold;
}

/* Sección de Servicios */

.servicios{
    background-color:#ffffdf;
    padding:40px;
}

.servicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 40px;
}

.servicios--conFondo{
    
    background-color: #ffffdf;
}

$serviciosMapa:(
    centro:center,
    margen:20px
);

@mixin serviciosp ($color){
    text-align: map-get($serviciosMapa, centro );
    color: $color;
    margin: map-get($serviciosMapa, margen );
}

#servicio1{
    @include serviciosp($colorHuella1)
}

#servicio2{
    @include serviciosp($colorHuella2)
}

#servicio3{
    @include serviciosp($colorHuella3)
}


