/* PÁGINA Y SECCIÓN PAQUETES */
.paquete{
    padding-top:20px;
    border-top: 5px dashed $colorVerde;
    border-bottom: 5px dashed $colorVerde;
    border-left: 5px dashed $colorVerde;
    border-right: 5px dashed $colorVerde; 
    border-radius: 25px;
    margin:30px;

    article{
        margin: 0 100px;
        text-align: center;
    }
}

.paquete__article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

@mixin paquetesp ($color) {
    color: $color;
    padding: 20px;
    line-height: 1.6;
}

@mixin listasPaquetes ($color){
    color:$color;
    font-family: $letraParrafos;
}

#paquete__paquete1{
    @include paquetesp($colorHuella1);
    
    ul li{
         @include listasPaquetes ($colorPaquetes)
    }
} 

#paquete__paquete2{
    @include paquetesp($colorHuella2);
    
    ul li{
         @include listasPaquetes ($colorPaquetes)
    }
} 

#paquete__paquete3{
    @include paquetesp($colorHuella3);
    
    ul li{
         @include listasPaquetes ($colorPaquetes)
    }
} 

.nav-link__color{
    color: $colorPaquetes;    
}

.nav-link__color:hover{
    background-color: $colorSubtitulos;
    color: white;    
}

.nav--centrado{
    justify-content: center!important;
}

.contenidoPaquetes{
    background-color: #ffffdf;
    padding: 20px;
}