@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

/* Sección de valores */
.valores {
  background-image: url(img/fondo_valores.jpg); }

.valores_general {
  background-color: rgba(255, 255, 255, 0.8); }

.valores__texto {
  text-align: center;
  font-weight: bold; }

/* Sección de Servicios */
.servicios {
  background-color: #ffffdf;
  padding: 40px; }

.servicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 40px; }

.servicios--conFondo {
  background-color: #ffffdf; }

#servicio1 {
  text-align: center;
  color: orange;
  margin: 20px; }

#servicio2 {
  text-align: center;
  color: #88D9DE;
  margin: 20px; }

#servicio3 {
  text-align: center;
  color: #FF66C4;
  margin: 20px; }

.contacto {
  background-color: #ffffdf;
  padding: 40px; }
  .contacto p {
    text-align: center;
    padding: 15px; }

.contacto__general {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .contacto__general div {
    width: 100%; }

.contacto__mapa iframe {
  width: 100%;
  height: 400px;
  border: 0; }

/* .contacto--conBorde{
    padding-top:20px;
    padding-left: 60px;
    border-top: 5px dashed $colorVerde;
    border-bottom: 5px dashed $colorVerde;
    border-left: 5px dashed $colorVerde;
    border-right: 5px dashed $colorVerde; 
    border-radius: 25px;
    margin:30px;
} */
fieldset {
  padding: 10px;
  border-color: #3EC483;
  border-style: dotted;
  color: #404D95;
  font-family: "Chewy", cursive; }
  fieldset label {
    font-family: "Mali", cursive;
    font-weight: bold;
    color: #c69b7c; }

label {
  color: #c69b7c;
  font-family: 'Arimo', sans-serif; }

/* PÁGINA NOSOTROS */
.nosotros {
  padding: 30px;
  background-color: #ffffdf; }

.nosotros__video {
  /*    grid-area: video; */
  margin: 20px;
  text-align: center; }
  .nosotros__video iframe {
    width: 500px;
    height: 250px; }

.ellas__article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "imagen1 imagen2";
  padding: 30px;
  justify-items: center;
  align-items: center; }

.ellas h3 {
  color: #404D95; }

.ellas__moca {
  grid-area: imagen1;
  text-align: center;
  justify-self: center; }

.ellas__yuri {
  grid-area: imagen2;
  text-align: center;
  justify-self: center; }

@media screen and (max-width: 767px) {
  .ellas__article {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "imagen1" "imagen2"; }
  .nosotros__video iframe {
    width: 250px;
    height: 200px; } }

/* PÁGINA GALERÍA */
.galeria {
  background-image: linear-gradient(to top, #3EC483, #d0f5e3);
  padding: 20px 0 20px 0; }

.galeria__imagenes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  margin: 50px; }

.galeria__imagen img {
  width: 100%;
  border-radius: 10px; }

/* Sección testimonios */
#testimonios {
  margin-top: 20px; }

.testimonios {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 30px;
  text-align: center; }
  .testimonios h3 {
    color: #404D95;
    text-align: center; }
  .testimonios p {
    color: #c69b7c;
    font-weight: bold; }

.imgRedonda {
  width: 200px;
  height: 200px;
  border-radius: 150px; }

.testimonios__cliente1 {
  margin: 10px; }

.testimonios__cliente2 {
  margin: 10px; }

.testimonios__cliente3 {
  margin: 10px; }

/* PÁGINA Y SECCIÓN PAQUETES */
.paquete {
  padding-top: 20px;
  border-top: 5px dashed #3EC483;
  border-bottom: 5px dashed #3EC483;
  border-left: 5px dashed #3EC483;
  border-right: 5px dashed #3EC483;
  border-radius: 25px;
  margin: 30px; }
  .paquete article {
    margin: 0 100px;
    text-align: center; }

.paquete__article {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between; }

#paquete__paquete1 {
  color: orange;
  padding: 20px;
  line-height: 1.6; }
  #paquete__paquete1 ul li {
    color: green;
    font-family: "Mali", cursive; }

#paquete__paquete2 {
  color: #88D9DE;
  padding: 20px;
  line-height: 1.6; }
  #paquete__paquete2 ul li {
    color: green;
    font-family: "Mali", cursive; }

#paquete__paquete3 {
  color: #FF66C4;
  padding: 20px;
  line-height: 1.6; }
  #paquete__paquete3 ul li {
    color: green;
    font-family: "Mali", cursive; }

.nav-link__color {
  color: green; }

.nav-link__color:hover {
  background-color: #7ED957;
  color: white; }

.nav--centrado {
  justify-content: center !important; }

.contenidoPaquetes {
  background-color: #ffffdf;
  padding: 20px; }

.contenidoPaquetes--Texto {
  font-family: "Mali", cursive;
  font-weight: bold; }

/* Formato de botones */
.boton, .boton--naranja, .boton--azul, .boton--rosa, .boton-formulario, .boton-navbar {
  color: white;
  padding: 13px 31px 13px 31px !important;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  font-weight: 600 !important;
  font-family: 'Arimo', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all ease .2s;
  cursor: pointer;
  transition: all 2s; }

.boton--naranja {
  background-color: orange;
  color: white;
  border-color: orange;
  margin: 15px; }

.boton--naranja:hover {
  background-color: #724c06; }

.boton--azul {
  background-color: #88D9DE;
  color: white;
  border-color: #88D9DE;
  margin: 15px; }

.boton--azul:hover {
  background-color: #289696; }

.boton--rosa {
  background-color: #FF66C4;
  color: white;
  border-color: #FF66C4;
  margin: 15px; }

.boton--rosa:hover {
  background-color: #7a185d; }

.boton--centrado {
  margin-left: auto;
  margin-right: auto; }

.boton-formulario {
  background-color: #FF66C4;
  border-color: #FF66C4;
  margin-top: 10px; }

.boton-navbar {
  border-style: none;
  padding: 0 !important;
  font-size: x-large;
  background-color: #404D95; }

/* ------------ SCROLL UP ------------ */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  border-radius: 50%;
  border: none;
  background-color: #404D95;
  color: white;
  padding: 3px 8px !important; }

.back-to-top:hover {
  border: 5px;
  border-color: #404D95;
  background-color: white;
  color: #404D95; }

/* PROPIEDADES GENERALES */
h1 {
  color: #404D95;
  font-family: "Chewy", cursive;
  font-weight: bold;
  font-size: 60px;
  text-align: center; }

h2 {
  color: #404D95;
  font-family: "Chewy", cursive;
  text-align: center;
  font-size: 40px;
  padding-bottom: 15px; }

h3 {
  /* color:#FF66C4; */
  font-family: "Chewy", cursive;
  font-size: 30px; }

p {
  color: #c69b7c;
  text-align: justify;
  font-family: 'Mali', cursive;
  font-style: oblique;
  font-size: 100%;
  letter-spacing: 3px;
  word-spacing: 5px; }

section h2 {
  color: #7ED957; }

table {
  color: orange; }

header {
  background-color: #404D95;
  font-family: 'Arimo', sans-serif !important;
  /* height: 90px; */
  /* padding: 30px;
    padding-bottom: 5px; */ }

span {
  font-size: 20px; }

ul li {
  font-family: "Mali", cursive;
  font-weight: bold;
  line-height: 1.6;
  list-style-type: none; }

ul li a {
  font-family: 'Arimo', sans-serif !important; }

/* FOOTER APLICADO A TODO EL SITIO */
footer {
  background-color: #404D95; }

.footer__imagen {
  display: flex;
  background-image: url(img/pasto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.footer__logo {
  padding-top: 50px;
  padding-bottom: 50px; }

.footer__creditos p {
  text-align: center;
  color: white;
  padding: 10px;
  line-height: 1.6; }

.footer__creditos p a {
  color: white;
  text-decoration: none; }

.footer__menu {
  padding: 45px; }

.footer__menu ul {
  list-style-image: url(img/paw.png); }

.footer__menu ul li a {
  color: #404D95;
  text-decoration: none;
  font-size: 20px; }

.footer__suscribirse {
  padding: 50px; }

.footer__suscribirse label {
  color: #404D95;
  font-family: "Mali", cursive;
  font-weight: bold; }

#ham_blanca {
  color: white; }

@media screen and (max-width: 1279px) {
  .navbar {
    justify-content: center; } }

@media screen and (min-width: 1280px) {
  .paquete__contenedor {
    height: 530px; } }

@media screen and (max-width: 767px) {
  .carrusel_titulo {
    display: none; }
  .slider__texto {
    display: none; }
  .servicio {
    flex-direction: column;
    margin: 0; }
  .paquete article {
    margin: 0 auto; }
  .paquete__article {
    flex-wrap: wrap; }
  .contacto__general {
    flex-direction: column; }
  .footer__imagen {
    flex-direction: column; }
  .formulario-bot {
    margin-top: 20px; }
  .testimonios {
    flex-direction: column; } }

@media only screen and (min-width: 768px) {
  .paquete__huella {
    list-style-image: url(img/paw.png); }
  .contacto__general div {
    padding: 10px; } }
