*{
    margin:0;
    padding:0;
}

@import "scss/colores";
@import "scss/fontFamily";
@import "scss/index";
@import "scss/contacto";
@import "scss/nosotros";
@import "scss/galeria";
@import "scss/paquetes";
@import "scss/botones";



/* PROPIEDADES GENERALES */
h1{
    color: $colorPrincipal;
    font-family: $letraPrincipal;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}

h2{
    color:$colorPrincipal;
    font-family: $letraPrincipal;
    text-align: center;
    font-size: 40px;
    padding-bottom: 15px;
}

h3{
    /* color:#FF66C4; */
    font-family: $letraPrincipal;
    font-size: 30px;
}

p{
    color:$colorParrafos;
    text-align: justify;
    font-family: 'Mali', cursive;
    font-style:oblique ;
    font-size: 100%;
    letter-spacing: 3px;
    word-spacing: 5px;   
}

section h2{
    color: $colorSubtitulos;
}

table{
    color:orange;
}

header{
    background-color: $colorPrincipal; 
    font-family: 'Arimo', sans-serif !important;
    /* height: 90px; */
    /* padding: 30px;
    padding-bottom: 5px; */
}

span{
    font-size:20px;
}


ul li{
    font-family: $letraParrafos;
    font-weight: bold;
    line-height: 1.6;
    list-style-type: none;
    
}

ul li a{
    font-family: 'Arimo', sans-serif !important;
}

/* FOOTER APLICADO A TODO EL SITIO */
footer{
    background-color: $colorPrincipal;
}

.footer__imagen{
    display: flex;
    background-image: url(img/pasto.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    flex-direction: row;
    justify-content: space-evenly;
 
}

.footer__logo{
    padding-top:50px;
    padding-left: 100px;
    padding-bottom: 50px;
} 

.footer__creditos p{
    text-align: center;
    color:white;
    padding:10px;
    line-height: 1.6;
}

.footer__creditos p a{
    color:white;
    text-decoration: none;
}

.footer__menu{
    padding: 45px;
}

.footer__menu ul{
    list-style-image: url(img/paw.png);
}

.footer__menu ul li a{
    color: $colorPrincipal;
    text-decoration: none;
    font-size: 20px;
}

.footer__suscribirse{
    padding: 50px;
}

.footer__suscribirse label{
    color: $colorPrincipal;
    font-family:  $letraParrafos;
    font-weight: bold;
}

#ham_blanca{
    color:white;
}

@media screen and (max-width: 1279px) {
    .navbar{
        justify-content: center;
    }
}

@media screen and (min-width: 1280px) {
    .paquete__contenedor{
        height: 530px;
    }
}


@media screen and (max-width: 767px){
    .carrusel_titulo{
        display: none;
    }
    .slider__texto{
        display: none;
    }
    .servicio{
        flex-direction: column;
    } 
    
    .paquete article{
        margin: 0 auto;
    }
    .paquete__article{

        flex-wrap: wrap; 
    }   

    .contacto__general{
        flex-direction: column;
    }

    .footer__imagen{
        flex-direction: column;
    }

    .testimonios{
        flex-direction: column;
    }

}

@media only screen and (min-width: 768px){

    .paquete__huella{
        list-style-image: url(img/paw.png);
    }

    .contacto__general div{
        padding: 10px;
    }
    
}

